---
import Layout from '../layouts/Layout.astro'
import Shop from '../components/Shop'
---
<Layout title='@itskreisler'>
	<main class='mx-auto grid sm:grid-cols-2 lg:grid-cols-4 2xl:grid-cols-10 gap-2 text-black'>
		<Shop client:load />
		<!-- Crear una card 1:1 -->
	</main>
</Layout>